@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تم إرسال رابط إعادة تعيين";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<p>Check your Email </p>
<a href="https://mailtrap.io/inboxes/">Click Here</a>
